@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

// color palette
$primary-color: #0B132B;
$secondary-color: #1C2541;
$accent-set-color: #d1e4e3;
$fun-color: #6FFFE9;

// font-sizes
$base-font-size: 1rem;
$font-size-tiny: .5rem;
$font-size-small: .75rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;

// spacing
$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-base: .75rem;
$spacing-md: 1rem;
$spacing-xl: 2rem;

$roboto-slab: 'Roboto Slab', serif;